* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header-top {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
}

.header-top span {
    color: #9acc1e;
}

.header-bottom {
    width: 100%;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin: 50px 20px 30px 20px;
    color: #060606;
}

.main {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
}

.main-left {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 45%;
    height: 400px;
    margin-right: 40px;
    margin-bottom: 40px;
    border: 1px solid #f5f5f5;
}

.box:hover {
    box-shadow: 2px 5px 5px 5px #f5f5f5;
    transform: translateY(-5px);
    color: 24%;
}

.box:nth-child(even) {
    margin-right: 0px;
}

.box-text {
    font-size: smaller;
}

.box1-img,.box2-img,.box3-img,.box4-img,.box5-img,.box6-img,.box7-img,.box8-img,.box9-img,.box10-img,.box11-img,.box12-img {
    padding: 10px 0 0 10px;
}

.box span {
    font-size: 10px;
    padding: 20px 0 0 10px;
    padding: 8px;
    background-color: #9acd32;
    border-radius: 10px;
    color: #fff;
}

.box-text {
    position: relative;
}

.box-text h2 {
    padding: 10px;
}

.box-text p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 10px;
    color: #c0c0c0;
}

.box1-img {
    height: 60%;
    background-image: url("top_img/shutterstock_377522251-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box2-img {
    height: 60%;
    background-image: url("top_img/shutterstock_279275555-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box3-img {
    height: 60%;
    background-image: url("top_img/shutterstock_295702355-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box4-img {
    height: 60%;
    background-image: url("top_img/shutterstock_527675818-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box5-img {
    height: 60%;
    background-image: url("top_img/shutterstock_471769004-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box6-img {
    height: 60%;
    background-image: url("top_img/shutterstock_151174712-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box7-img {
    height: 60%;
    background-image: url("top_img/shutterstock_285640730-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box8-img {
    height: 60%;
    background-image: url("top_img/shutterstock_288725276-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box9-img {
    height: 60%;
    background-image: url("top_img/shutterstock_229543828-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box10-img {
    height: 60%;
    background-image: url("top_img/shutterstock_224637184-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box11-img {
    height: 60%;
    background-image: url("top_img/shutterstock_431592634-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box12-img {
    height: 60%;
    background-image: url("top_img/shutterstock_252732910-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box-text {
    height: 150px;
}

.main-right {
    width: 30%;
}

.sub-box {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #f5f5f5;
}

.sub-box h2 {
    text-align: center;
    background-color: #060606;
    color: #fff;
    padding: 10px 0;
}

.sub-box p {
    padding: 10px 40px 0px 40px;
}

.btn {
    height: 100px;
    text-align: center;
}

.btn:hover {
    opacity: 0.5;
}

.btn p {
    padding: 10px 40px;
    margin-top: 30px;
    display: inline-block;
    background-color: #dc143c;
    border-radius: 50px;
    color: #fff;
}

.sub-box-img {
    text-align: center;
}

.sub-box-img img {
    width: 80%;
}

.sub-box-icon {
    text-align: center;
    margin: 0 auto;
}

.sub-box-icon-img {
    border-radius: 80px;
    margin: 50px auto 0;
    width: fit-content;
    height: 150px;
    overflow: hidden;
}

.sub-box-icon-img img {
    height: 150px;
    border-radius: 80px;
    transition: all 0.5s ease-in-out;
}

.sub-box-icon-img img:hover {
    transform: scale(1.2);
}

.sub-box-icon h3 {
    padding-top: 10px;
}

.sub-box-icon p {
    font-size: 8px;
    padding-top: 0;
}

.btn2 {
    height: 100px;
    text-align: center;
}

.btn2:hover {
    opacity: 0.5;
}

.btn2 p {
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    background-color: #dcdcdc;
    padding: 10px 30px;
    border-radius: 40px;
}

.sns {
    height: 100px;
    background-color: #9acd32;
    text-align: center;
}

.sns p {
    color: #fff;
    padding-top: 20px;
}

.sub-title h3 {
    padding: 30px 0px 5px 0px;
    margin: 0 20px 30px;
    border-bottom: 1px solid #060606;
}

.sub-main a {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 10px;
}

.img img {
    width: 100%;
}

.sub-main p {
    width: 45%;
    padding: 0;
    color: #060606;
}

.sub-main p:hover {
    color: red;
}

.select {
    margin: 0 20px 30px;
}

.tag-group {
    margin: 0 20px 30px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    color: #060606;
    padding: 5px;
    margin: 0 10px 10px 0;
    border: 1px solid #060606;
    font-size: 11px;
}

.tag:hover {
    color: #fff;
    background-color: #060606;
}

.search {
    width: 100%;
    height: 80px;
}

.search-box {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #060606;
    border-radius: 50px;
}

.footing {
    height: 500px;
    width: 100%;
    background-color: #393542;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
}

.footer-left {
    width: 30%;
    padding: 30px 10px;
}

.footer-center {
    width: 30%;
    padding: 30px 10px;
}

.footer-right {
    width: 30%;
    padding: 30px 10px;
}

.footer-title {
    text-align: center;
}

.footer-title p {
    text-align: left;
    padding: 10px;
    font-size: smaller;
}

.footer-title img {
    height: 80px;
    margin: 20px 0;
}

.tag-g {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.footer-tag h3 {
    margin: 20px 10px;
    padding-left: 10px;
    border-left: 2px solid #9acd32;
}

.f-tag {
    color: #fff;
    padding: 5px;
    margin: 0 10px 10px 0;
    font-size: 11px;
    background-color: #a9a9a9;
}

.footer-center {
    display: flex;
    justify-content: center;
}

.footer-category {
    padding-right: 50px;
}

.footer-category h3 {
    margin: 20px 10px;
    padding-left: 10px;
    border-left: 2px solid #9acd32;
}

.footer-category p {
    font-size: smaller;
    padding: 5px 10px;
}

.footer-archives h3 {
    margin: 20px 10px;
    padding-left: 10px;
    border-left: 2px solid #9acd32;
}

.footer-archives p {
    font-size: smaller;
    padding: 5px 10px;
}

.footer-popular h3 {
    margin: 20px 10px;
    padding-left: 10px;
    border-left: 2px solid #9acd32;
}

.footer-post {
    padding: 10px;
}

.footer-post a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer-post p {
    width: 40%;
    color: #fff;
}

.btn3 {
    padding: 0px 80px;
    margin-top: 10px;
    display: inline-block;
    background-color: #dc143c;
    border-radius: 50px;
    color: #fff;
}