* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header-top {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
}

.header-top span {
    color: #9acc1e;
}

.header-bottom {
    width: 100%;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin: 50px 20px 30px 20px;
    color: #060606;
}

.main {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
}

.main-left {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 45%;
    height: 400px;
    margin-right: 40px;
    margin-bottom: 40px;
    border: 1px solid #f5f5f5;
}

.box:hover {
    box-shadow: 2px 5px 5px 5px #f5f5f5;
    transform: translateY(-5px);
    color: 24%;
}

.box:nth-child(even) {
    margin-right: 0px;
}

.box-text {
    font-size: smaller;
}

.box1-img,.box2-img,.box3-img,.box4-img,.box5-img,.box6-img,.box7-img,.box8-img,.box9-img,.box10-img,.box11-img,.box12-img {
    padding: 10px 0 0 10px;
}

.box span {
    font-size: 10px;
    padding: 20px 0 0 10px;
    padding: 8px;
    background-color: #9acd32;
    border-radius: 10px;
    color: #fff;
}

.box-text {
    position: relative;
}

.box-text h2 {
    padding: 10px;
}

.box-text p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 10px;
    color: #c0c0c0;
}

.box1-img {
    height: 60%;
    background-image: url("top_img/shutterstock_377522251-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box2-img {
    height: 60%;
    background-image: url("top_img/shutterstock_279275555-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box3-img {
    height: 60%;
    background-image: url("top_img/shutterstock_295702355-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box4-img {
    height: 60%;
    background-image: url("top_img/shutterstock_527675818-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box5-img {
    height: 60%;
    background-image: url("top_img/shutterstock_471769004-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box6-img {
    height: 60%;
    background-image: url("top_img/shutterstock_151174712-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box7-img {
    height: 60%;
    background-image: url("top_img/shutterstock_285640730-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box8-img {
    height: 60%;
    background-image: url("top_img/shutterstock_288725276-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box9-img {
    height: 60%;
    background-image: url("top_img/shutterstock_229543828-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box10-img {
    height: 60%;
    background-image: url("top_img/shutterstock_224637184-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box11-img {
    height: 60%;
    background-image: url("top_img/shutterstock_431592634-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box12-img {
    height: 60%;
    background-image: url("top_img/shutterstock_252732910-640x360.jpg");
    background-size: cover;
    background-position: center;
}

.box-text {
    height: 150px;
}

.main-right {
    width: 30%;
}

.sub-box {
    width: 100%;
}

.sub-box-img {
    text-align: center;
}

.sub-box-img img {
    width: 80%;
}